<div class="author">
  <h1>Hi, I am Rahimi.</h1>
  <p>Web developer and content creator</p>
</div>
<img
  src="/img/hero-image.webp"
  alt="person looking out through window"
  class="hero-image"
/>

<section class="articles">
  <h2 class="articles__heading">Latest Post</h2>
  <ul class="article-ul">
    <% posts.forEach(post => { %>
    <li>
      <a href="/post/<%= post._id %>" class="article-list">
        <span> <%= post.title %></span>
        <span class="article-list__date"><%= post.createdAt.toString() %></span>
      </a>
    </li>
    <% }) %>
  </ul>
  <a href="#" class="pagination">&lt; View Older Posts</a>
</section>
